@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head></head>
<body>
    <table style='margin: 0 auto; width: 100%;'>
        <tr>
            <td>
                <div>
                    <img src="~/Content/images/sample.jpg" />
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
