@{
    ViewBag.Title = "Pending Quotes";
    Layout = null;
}

<link href="~/Content/QuoteList.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        loadManagerDashboardBendingQuotesReports();

    });

    function loadManagerDashboardBendingQuotesReports() {
        //var quoteID = $('#QuoteID').val();
        $('table').css('width', '100%');

        $('.TestingPending').dataTable({
            "aaData": [
            /* Reduced data set */
            //["1460", "Customer C", "02-Sep-2013", 5623, "Antony", "05-Sep-2013"],
            //["1475", "Customer D", "12-Sep-2013", 4500, "James", "17-Sep-2013"],
            //["1477", "Customer A", "13-Sep-2013", 4521, "James", "18-Sep-2013"],
            //["1484", "Customer C", "20-Sep-2013", 2452, "Antony", "25-Sep-2013"],
            //["1490", "Customer C", "24-Sep-2013", 36547, "Antony", "27-Sep-2013"]
            ["1460", "Customer A", "02-Sep-2013", "562"],
            ["1475", "Customer B", "12-Sep-2013", "450"],
            ["1477", "Customer C", "13-Sep-2013", "452"],
            ["1484", "Customer D", "20-Sep-2013", "245"],
            ["1490", "Customer E", "24-Sep-2013", "365"],
            ["1461", "Customer F", "02-Sep-2013", "562"],
            ["1475", "Customer G", "12-Sep-2013", "450"],
            ["1479", "Customer H", "13-Sep-2013", "452"],
            ["1485", "Customer I", "20-Sep-2013", "245"],
            ["1499", "Customer J", "24-Sep-2013", "365"]
            ],
            //"bServerSide": true,
            //"sAjaxSource": "/Home/GeQuoteToClosetManager",
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            //"iDisplayLength": 1,
            "bDestroy": true,

            "aoColumns": [
                        { "sTitle": "Quote#" },
                        { "sTitle": "Customer Name" },
                        { "sTitle": "Quote Date" },
                        { "sTitle": "Quote Amount" }
                        //{ "sTitle": "Pending With Whom" },
                        //{ "sTitle": "Since When" }
            ]
        });
    }

</script>

@*<section class="c12 main-title">
    <div class="c6 quote">
        <img src="~/Content/images/qoute-ion.png" alt="img1">
        <p id="QuoteTitle">Pending Quotes</p>
    </div>
</section>*@

<section>
    <div class="create">
        <div class="greay_box whitebox">           
                <div class="quote_list">
                    <table class="TestingPending" id="PendingQuotes"></table>                    
                </div>            
        </div>
    </div>
</section>


