@model AgileQuoteProperty.Model.QuoteBundleMaterialList

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.jeditable.js"></script>
<script src="~/Scripts/AgileQuote/QuoteWarrenty.js"></script>

<input type="hidden" value="@ViewBag.QuoteID" id="QuoteID" />
<div class="quote_list">
    <table id="QuoteMaterialBundleWarrent"></table>
</div>