<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>

          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>    
    <add name="AgileQuoteEntities" connectionString="metadata=res://*/Data.AgileQuoteMainEntities.csdl|res://*/Data.AgileQuoteMainEntities.ssdl|res://*/Data.AgileQuoteMainEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.0.147\SQLEXPRESS;initial catalog=AgileQuote;user id=sa;password=Changep0nd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgileQuoteAdminEntities" connectionString="metadata=res://*/Data.AgileQuoteAdminEntities.csdl|res://*/Data.AgileQuoteAdminEntities.ssdl|res://*/Data.AgileQuoteAdminEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.0.147\SQLEXPRESS;initial catalog=AgileQuoteAdmin;user id=sa;password=Changep0nd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AgileQuoteEntities" connectionString="metadata=res://*/Data.AgileQuoteMainEntities.csdl|res://*/Data.AgileQuoteMainEntities.ssdl|res://*/Data.AgileQuoteMainEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.0.147\SQLEXPRESS;initial catalog=AgileQuoteDemo;user id=sa;password=Changep0nd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgileQuoteAdminEntities" connectionString="metadata=res://*/Data.AgileQuoteAdminEntities.csdl|res://*/Data.AgileQuoteAdminEntities.ssdl|res://*/Data.AgileQuoteAdminEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.0.147\SQLEXPRESS;initial catalog=AgileQuoteAdminDemo;user id=sa;password=Changep0nd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>
