@{
    ViewBag.Title = "QuoteBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<script src="~/Scripts/AgileQuote/QuoteMaterialBundleList.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jHtmlArea-0.7.5.js"></script>
<script src="~/Scripts/jHtmlArea.ColorPickerMenu-0.7.0.js"></script>
<link href="~/Content/jHtmlArea.css" rel="stylesheet" />
<link href="~/Content/jHtmlArea.ColorPickerMenu.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {        
        $("#txtBody").htmlarea({
            toolbar: [
                        ["html"],
                        ["forecolor"],
                        ["bold", "italic", "underline", "strikethrough", "|", "subscript", "superscript"],
                        ["increasefontsize", "decreasefontsize"],
                        ["orderedlist", "unorderedlist"],
                        ["indent", "outdent"],
                        ["justifyleft", "justifycenter", "justifyright"],
                        ["link", "unlink", "image", "horizontalrule"],
                        ["p", "h1", "h2", "h3", "h4", "h5", "h6"],
                        ["cut", "copy", "paste"]
            ] // Overrides/Specifies the Toolbar buttons to show
        });

        $('#btnSendMail').click(function () {
            var from = $('#txtFrom').val();
            var to = $('#txtTo').val();
            var cc = $('#txtCC').val();
            var bcc = $('#txtBCC').val();
            var subject = $('#txtSubject').val();
            var body = $("#txtBody").htmlarea('html');
            var attachment = $('#attachmentLink').attr('href');
            var send = false;
            body = body.replace(/"/g, "'");
            body = body.replace(/</g, '(');
            body = body.replace(/>/g, ')');            
            
            if (validateEmail(from) && validateEmail(to)) {
                if (cc === '' && bcc === '') {
                    $('#FromError').text('*');
                    $('#ToError').text('*');
                    $('#CCError').text('');
                    send = true;
                }
                else {
                    if (bcc === '') {
                        if (validateEmail(cc)) {
                            $('#CCError').text('');
                            send = true;
                        }
                        else {
                            $('#CCError').text('Invalid Email address');
                        }
                    }
                    else {
                        if (cc === '') {
                            if (validateEmail(bcc)) {
                                $('#BCCError').text('');
                                send = true;
                            }
                            else {
                                $('#BCCError').text('Invalid Email address');
                            }
                        }
                        else {
                            if (validateEmail(bcc) && validateEmail(cc)) {
                                send = true;
                            }
                            else {
                                if (!validateEmail(bcc) && !validateEmail(cc)) {
                                    $('#CCError').text('Invalid Email address');
                                    $('#BCCError').text('Invalid Email address');
                                }
                                else {
                                    if (!validateEmail(bcc)) {
                                        $('#CCError').text('');
                                        $('#BCCError').text('Invalid Email address');
                                    }
                                    else {
                                        $('#CCError').text('Invalid Email address');
                                        $('#BCCError').text('');
                                    }
                                }
                            }
                        }
                    }
                }
            }
            else {
                if (!validateEmail(from) && !validateEmail(to)) {
                    $('#FromError').text('Invalid Email address');
                    $('#ToError').text('Invalid Email address');
                }
                else if (!validateEmail(from)) {
                    $('#FromError').text('Invalid Email address');
                    $('#ToError').text('*');
                }
                else {
                    $('#FromError').text('*');
                    $('#ToError').text('Invalid Email address');
                }
            }
            if (send) {
                $.ajax({
                    url: "/pdf/SendproposalMail?From=" + from + "&To=" + to + "&CC=" + cc + "&BCC=" + bcc + "&Subject=" + subject + "&Body=" + body + "&Attachment=" + attachment,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.redirect) {
                            window.location.replace(data.redirectAction);
                        }
                    },
                    error: function (e) {
                    },
                    async: false
                });
            }
        });
    });
</script>

<style>
    #ProposalMailContent
    {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

        #ProposalMailContent li.propLI
        {
            width: 100%;
            float: left;
            min-height: 45px;
        }

            #ProposalMailContent li.propLI label
            {
                color: #555555;
                float: left;
                font-family: 'proximanova';
                font-size: 13px;
                float: left;
                width: 15%;
            }

            #ProposalMailContent li.propLI input[type="text"]
            {
                color: #555555;
                font-family: 'proximanova';
                font-size: 13px;
                float: left;
                width: 75%;
            }

            #ProposalMailContent li.propLI span
            {
                margin-left: 5px;
                color: #FF0000;
                font-size: 12px;
            }

    iframe
    {
        height: 230px;
        width: 100% !important;
    }
</style>
    <section class="c12 main-title" style="margin-top: 2%;">
            <div class="c6 quote">
                <img src="~/Content/images/qoute-ion.png" alt="img1">
                <p>Email Proposal</p>
            </div>
        </section>
<section>
    <div class="create">
        <div class="tab_content" id="ProposalMailContent">
            <ul>
                <li class="propLI">
                    <label>From</label>
                    <input id="txtFrom" type="text" /><span id="FromError">*</span>
                </li>

                <li class="propLI">
                    <label>To</label>
                    <input id="txtTo" type="text" /><span id="ToError">*</span>
                </li>
                <li class="propLI">
                    <label>CC</label>
                    <input id="txtCC" type="text" /><span id="CCError"></span>
                </li>
                <li class="propLI">
                    <label>BCC</label>
                    <input id="txtBCC" type="text" /><span id="BCCError"></span>
                </li>
                <li class="propLI">
                    <label>Subject</label>
                    <input id="txtSubject" type="text" />
                </li>
                <li class="propLI">
                    <label>Body</label>
                    <textarea id="txtBody" cols="0" rows="10" style="background-color: #FFF;"></textarea>
                </li>
                <li class="propLI">
                    <label>Attachment</label>
                    <a id="attachmentLink" href="/Content\pdf\proposal\@ViewBag.name" target="_blank" style="color: #0000FF; font-size: 15px; font-weight: bold; text-decoration: underline;" >@ViewBag.name</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="submit_box">
        <input id="btnSendMail" type="button" value="Send Email" style="float: none;" />
    </div>
</section>